@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('../src/styles/components/index.css');
@import url('../src/styles/pages/index.css');
@import url('./styles/toast.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}


@layer base{
  html{
    font-family: 'Roboto', sans-serif;
  }
}

@layer utilities{
  .font-playFair{
   font-family: 'Playfair Display', serif;
  }
  .text-orange{
    color: #FF8A49;
  }
}
